
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}


header {
    background-color: #2c2c2c;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

main {
    max-width: 900px;
    margin: 30px auto;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
}


h2 {
    margin-top: 25px;
    margin-bottom: 10px;
    color: #251b7e;
}


p {
    margin-bottom: 15px;
}


ul {
    margin-left: 30px;
    margin-bottom: 15px;
}

ol {
    margin-left: 30px;
}


footer {
    margin-top: 40px;
    padding-top: 15px;
    border-top: 1px solid #ccc;
    text-align: center;
    font-size: 0.9em;
    color: #666;
}
